h1,
p {
	color: white;
	font-size: 25px;
	font-family: 'Times New Roman', Times, serif;
}

a {
	color: #8dbeff;
	font-family: 'Times New Roman', Times, serif;
	font-size: 17px;


}

* {
	background-color: #444444;
}