h1{
	text-align: center;
}
*{
	font-family:"American Typewriter";
	background-color:Black;
	
}
p,h1{
	color:FloralWhite;
}
.aliceblue{
	color:midnightblue;
	border-style:solid;
	border-color:midnightblue;
	background-color:midnightblue;
}
