h1{
	text-align: center;
}
*{
	font-family:"American Typewriter";
	background-color:rgb(19, 17, 17);
	
}
p,h1{
	color:FloralWhite;
}
.aliceblue{
	color:rgb(0,255,127);
	border-style:solid;
	border-color:rgb(0,255,127);
	background-color:rgb(0,255,127);
}
